<p id="notice"><%= notice %></p> #displays the flash.notice

<h1>Costumers</h1>

<table>
  <thead>
    <tr>
      <th> Full name</th>
      <th>Phone</th>
      <th>Email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @costumers.each do |costumer| %>
      <tr>
        <td><%= costumer.full_name %></td>
        <td><%= costumer.phone %></td>
        <td><%= costumer.email %></td>
        <td><%= link_to 'Show', costumer %></td>
        <td><%= link_to 'Edit', edit_costumer_path(costumer) %></td>
        <td><%= link_to 'Destroy', costumer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Costumer', new_costumer_path %>
