<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @costumer.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @costumer.last_name %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @costumer.phone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @costumer.email %>
</p>

<%= link_to 'Edit', edit_costumer_path(@costumer) %> |
<%= link_to 'Back', costumers_path %>
