<%= form_for(order) do |f| %>
  <% if order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(order.errors.count, "error") %> prohibited this costumer from being saved:</h2>

      <ul>
      <% order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="field">
  <%= f.label :product_name %>
  <%= f.text_field :product_name %>
</div>

<div class="field">
  <%= f.label :count %>
  <%= f.text_field :product_count %>
</div>

<div class="field">
  <%= f.label :costumer_id %>
  <%= f.collection_select :costumer_id, Costumer.all, :id, :full_name, include_blank: true %>
  <%#= f.text_field :costumer_id %>
</div>


<div class="actions">
  <%= f.submit %>
</div>
<% end %>
